body{
   padding: 0px;
   font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
   letter-spacing: .03em;
   font-weight: 100;
   color: black;
}
.header img{
    height: 623px;
    width: 100%;
}
html {
    height: 100%
}
.headerText{
 color: white;
   background-color: rgba(22,79,134,0.5);
   position: absolute;
   top: 22%;
   left: 21%;
   height: 45%;
    width: 60%;

   text-align: center;
   padding: 50px 40px 50px 40px;
}
.headerText p{
      font-size: 42px;
      font-weight: 300;
      color: white;
      font-family: 'Lato', sans-serif;
}
#menu{
        height: 80px;
}
.menu{
      background-color: #164F86;
      top: 0px;
}
.menu img{
      margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 30px;
      width: 15%;
}
.options{
      padding: 30px 100px;
}
.options a{
        font-weight: 200;
      text-decoration: none;
      color: white;
      padding-left: 30px;
}
.space{
	padding-top: 50px;
}
.half-space{
	padding-top: 25px;
}
.section-header{
      text-align: center;
      font-size: 30px;
      font-weight: 200;
      color: rgb(73, 69, 69);
}
.section-bar{
      background-color: #164F86;
      height: 5px;
      width: 55px;
      margin: 0 auto;
      margin-top: 10px;
}
.thumb{

    text-align:center;
}
.thumb img{
    width: 200px;
    max-width: 100%;
    height: 200px;
    margin-top: 45px;
    margin-bottom: 15px;
    border: 3px solid rgb(229, 229, 229);
}
.thumb span{
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 200;
}
.wave img{
    width: 100%;
    max-width: 100%;
}
.blue-box{
      background-color: #164F86;
      padding-top:20px;
      text-align:center;
      overflow:auto;
}
.blue-box p{
    color:white;
    padding-bottom: 30px;
}
.blue-box>.section-header>.section-bar{
  background-color: #0377B0;
}

.blue-box img{
  width: 40px;
}
.blue-box h4{
    color:white;
}
.tagLine{
    text-align:center;
}
.tagLine h4{
      padding-left:60px;
      padding-right:60px;
      font-weight: 200;
      color: rgb(90, 87, 87);
}
.tagLine h5{
    color:#0F7FB1;
}
.product-back{
    margin-top:40px;
    background-size:100% auto;
    background: url("../images/SamvidBG1920Drk2.jpg") no-repeat;
    text-align:center;
}
.product-back p{
    margin-top:40px;
    color:white;
}
.product-back a{
    padding-top:20px;
    color:white;
}
.product-back>.section-header>.section-bar{
    background-color: #0377B0;
}
.justify-text{
    text-align:justify;
}
.product{
    text-align:center;
}
.about{
    margin-top:50px;
}
.about img{
      width: 30vw;
}

.blog>.blue-box img{
  width: 8vw;
  border: 3px solid rgb(229, 229, 229);
}
.blog-text{
    text-align: left;
      padding-top: 20px;
      padding-left: 120px;
}
.map-canvas{
    width: 500px;
    height: 400px;
}
.hand-cursor{
    cursor: pointer;
}
.contact-container{
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
}
.contact-container p{
    font-weight: normal;
}

.footer img{
    height: 70px;
}
.white-font{
    color: #ffffff;
}
.career-text{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.blog-summary-box{
    height: 200px;
    padding-left: 40px;
    padding-right: 40px;
}
.blog-summary-box img{
    height: 100px;
}
.contact-city{
    font-weight: normal;
}
.chosen-city{
    background: rgb(231, 195, 195);
}
.service-icon{
    height: 40px;
    width: auto;
}
.career{
    height:600px;
    width:100%;
    position:relative;
    margin-top: -50px;
}
.career img {
    width: 100%;
    height: 100%;
    position: absolute;
}
.career-header span{
    position: absolute;
    top: 5%;
    left: 44%;
    width: 14%;
    color: #ffffff;
    text-align: center;
    background-color: rgba(22,79,134,0.6);
}
.career-header .section-bar{
    position: absolute;
    top: 12%;
    left: 48%;
    width: 5%;
}
.career p{
    margin-top: 1px;
    z-index:100;
    background-color: rgba(22,79,134,0.4);
    position: absolute;
    top: 86%;
    left: 16%;
    height: 8%;
    width: 66%;

    text-align: center;
    padding: 20px 20px 50px 20px;
    font-size: 22px;
    font-weight: 300;
    color: white;
    font-family: 'Lato', sans-serif;
}
#team .bx-next{
    z-index: 0;
}
#team .bx-prev{
    z-index: 0;
}
#blog a{
    color: #ffffff;
    font-weight: bold;
}
#blog a:hover{
    color: #000000;
}
#career a{
    color: #CAE79D;
}
#career a:hover{
    color: #ffffff;
}
#services-content{
    margin-left: 30px;
    margin-right: 30px;
}
#blog-content{
    margin-left: 30px;
    margin-right: 30px;
}
#blog-content span{
    margin-right: 10px;
    color: #ffffff;
    margin-bottom: 10px;
}
.content-snippet {
    padding-top: 15px;
}
.bot-nav{
    width: 11%;
    margin: 0 auto;
}
footer a{
    color: #000000;
}
.footer-line{
    height: 2px;
    background-color: black;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-content{
    background-color: white;
    position: relative;
    top: -2.9em;
}
.footer-content p{
    font-size: xx-small;
}