body{
   padding: 0px;
   font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
   letter-spacing: .03em;
   font-weight: 100;
   color: black;
}
.header{

}
.headerText{
 color: white;
   background-color: rgba(22,79,134,0.5);
   position: absolute;
   top: 22%;
   left: 21%;
   height: 45%;
    width: 60%;

   text-align: center;
   padding: 50px 40px 50px 40px;
}
.headerText p{
      font-size: 42px;
      font-weight: 300;
      color: white;
}
.menu{
      background-color: #164F86;
      height: 80px;
}
.menu img{
      margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 30px;
      width: 15%;
}
.options{
      padding: 30px 100px;
}
.options a{
        font-weight: 200;
      text-decoration: none;
      color: white;
      padding-left: 30px;
}
.space{
	padding-top: 50px;
}
.half-space{
	padding-top: 25px;
}
.section-header{
      text-align: center;
      font-size: 30px;
      font-weight: 200;
      color: rgb(73, 69, 69);
}
.section-bar{
      background-color: #164F86;
      height: 5px;
      width: 55px;
      margin: 0 auto;
      margin-top: 10px;
}
.thumb{

    text-align:center;
}
.thumb img{
    width: 200px;
    max-width: 100%;
    height: auto;
    margin-top: 45px;
    margin-bottom: 15px;
    border: 3px solid rgb(229, 229, 229);
}
.thumb span{
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 200;
}
.wave img{
    width: 100%;
    max-width: 100%;
}
.blue-box{
      background-color: #164F86;
      padding-top:20px;
      text-align:center;
      overflow:auto;
}
.blue-box p{
    color:white;
      padding-left: 10px;
      padding-right: 10px;
        padding-bottom: 30px;
}
.blue-box>.section-header>.section-bar{
  background-color: #0377B0;
}

.blue-box img{
  width: 40px;
}
.blue-box h4{
    color:white;
}
.tagLine{
    text-align:center;
}
.tagLine h4{
      padding-left:60px;
      padding-right:60px;
      font-weight: 200;
      color: rgb(90, 87, 87);
}
.tagLine h5{
    color:#0F7FB1;
}
.product-back{
    margin-top:40px;
    background-size:100% auto;
    background: url("../images/SamvidBG.png") no-repeat;
    text-align:center;
}
.product-back p{
    margin-top:40px;
    color:white;
}
.product-back a{
    padding-top:20px;
    color:white;
}
.product-back>.section-header>.section-bar{
    background-color: #0377B0;
}
.justify-text{
    text-align:justify;
}
.product{
    text-align:center;
}
.about{
    margin-top:50px;
}
.about img{
      width: 30vw;
}
.about p{

}

.blog>.blue-box img{

  width: 8vw;
  border: 3px solid rgb(229, 229, 229);
}
.blog-text{
    text-align: left;
      padding-top: 20px;
      padding-left: 120px;
}